# Pandas

![](_rsc\pandas.webp)

Pandas es una libreria de Python que su principal caracteriztica es que nos
proporciona un *objeto* llamadado DataFrame, el cual es una estructura de datos.
Pandas permite manipular tablas de datos tabulares (por ejem. una hoja de
excel), nos ayuda a leer y analizar grandes volumenes de dato, aplicar
operaciones matematicas con estos datos, algunos de los objetivos a la
hora de trabajar con Pandas es la extraccion de datos, transformacion de datos,
analisis de datos para obtener conocimientos a partir de estos.

In [ ]:
"""
Antes de empezar a trabajar con Pandas recuerda tener instalada la libreria
para eso en el terminal ejecutamos: pip install pandas
o simplemente ejecuta esta celda
"""

!pip install pandas

In [2]:
# el siguiente paso es importar la libreria

import pandas as pd

Entonces ya sabemos que lo principal que nos ofrece Pandas son los
objetos dataframe. Veamos como crear uno, primero se creara un dataframe a partir de un diccionario

In [ ]:
passengers = {"name":[
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth"],

             "age": [22, 35, 58],

            "Sex": ["male", "male", "female"]}

passengers

In [ ]:
#veamos como se ve nuestro diccionario de pasajeros si lo pasamos a un df

df = pd.DataFrame(passengers)

print(type(df))

df

Para crear un dataframe de forma manual, lo usual es hacerlo con un diccionario
donde las keys seran los nombres de las columnas del df, y los values seran los datos del df.

### Partes de un dataframe

![](_rsc\dataframe.webp)

### Pandas series

ahora que ya creamos dataframe, veamos el concepto de que es una serie de pandas

In [7]:
# Ahora que tenemos un df, veamos como seleccionar una columna
df['age']

0    22
1    35
2    58
Name: age, dtype: int64

In [ ]:
#cada columna de un dataframe de pandas se le denomina una pandas series

type(df['name'])

![](_rsc\pandas_sereis.png)

In [ ]:
# ya vimos como acceder a una columna, ahora veamos como acceder a una fila
# para eso tenemos un metodo llamado loc()

df.loc[1] # aqui accedemos a la fila correspondiente al indice 1

In [ ]:
# tambien con loc() podemos acceder a un registro en especifico
# primero le pasamos el indice de la fila y luego el indice de la columna

df.loc[1][1]

## Archivos `csv`

Los archivos CSV son un tipo de documento en formato abierto sencillo para representar datos en forma de tabla, en las que las columnas se separan por comas y las filas por saltos de línea.

![](_rsc\csv.png)

## pd.read_csv()

esta es una funcion incorporada en pandas que nos permite leer un archivo csv a traves de un DataFrame

#### https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [16]:
pd.read_csv('results.csv')

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
44757,2023-07-09,United States,Canada,2,2,Gold Cup,Cincinnati,United States,False
44758,2023-07-12,United States,Panama,1,1,Gold Cup,San Diego,United States,False
44759,2023-07-12,Jamaica,Mexico,0,3,Gold Cup,Paradise,United States,True
44760,2023-07-16,Kernow,Sápmi,2,1,CONIFA World Football Cup qualification,Falmouth,England,False
44761,2023-07-16,Mexico,Panama,1,0,Gold Cup,Inglewood,United States,True

In [17]:
#podemos guardar este dataframe en una variable

data_fut = pd.read_csv('results.csv')

data_fut

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
44757,2023-07-09,United States,Canada,2,2,Gold Cup,Cincinnati,United States,False
44758,2023-07-12,United States,Panama,1,1,Gold Cup,San Diego,United States,False
44759,2023-07-12,Jamaica,Mexico,0,3,Gold Cup,Paradise,United States,True
44760,2023-07-16,Kernow,Sápmi,2,1,CONIFA World Football Cup qualification,Falmouth,England,False
44761,2023-07-16,Mexico,Panama,1,0,Gold Cup,Inglewood,United States,True

In [18]:
#son muchos datos, podemos ver solo los primeros <n>

data_fut.head(10)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,False
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,False
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales,False
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland,False
9,1878-03-23,Scotland,Wales,9,0,Friendly,Glasgow,Scotland,False

In [19]:
#tambien los ultimos <n>

data_fut.tail(25)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
44737,2023-06-30,Martinique,Panama,1,2,Gold Cup,Harrison,United States,True
44738,2023-06-30,El Salvador,Costa Rica,0,0,Gold Cup,Harrison,United States,True
44739,2023-07-01,Chameria,Two Sicilies,3,1,CONIFA World Football Cup qualification,Miercurea Ciuc,Hungary,True
44740,2023-07-01,India,Lebanon,0,0,SAFF Cup,Bengaluru,India,False
44741,2023-07-01,Kuwait,Bangladesh,1,0,SAFF Cup,Bengaluru,India,True
44742,2023-07-01,Cuba,Guadeloupe,1,4,Gold Cup,Houston,United States,True
44743,2023-07-01,Guatemala,Canada,0,0,Gold Cup,Houston,United States,True
44744,2023-07-02,Székely Land,Two Sicilies,7,0,CONIFA World Football Cup qualification,Miercurea Ciuc,Hungary,False
44745,2023-07-02,United States,Trinidad and Tobago,6,0,Gold Cup,Charlotte,United States,False
44746,2023-07-02,Jamaica,Saint Kitts and Nevis,5,0,Gold Cup,Santa Clara,United States,True
44747,2023-07-02,Honduras,Haiti,2,1,Gold Cup,Charlotte,United States,True
44748,2023-07-02,Mexico,Qatar,0,1,Gold Cup,Santa Clara,United States,True
44749,2023-07-04,India,Kuwait,1,1,SAFF Cup,Bengaluru,India,False
44750,2023-07-04,Costa Rica,Martinique,6,4,Gold Cup,Harrison,United States,True
44751,2023-07-04,Panama,El Salvador,2,2,Gold Cup,Houston,United States,True
44752,2023-07-04,Guadeloupe,Guatemala,2,3,Gold Cup,Harrison,United States,True
44753,2023-07-04,Canada,Cuba,4,2,Gold Cup,Houston,United States,True
44754,2023-07-08,Panama,Qatar,4,0,Gold Cup,Arlington,United States,True
44755,2023-07-08,Mexico,Costa Rica,2,0,Gold Cup,Arlington,United States,True
44756,2023-07-09,Guatemala,Jamaica,0,1,Gold Cup,Cincinnati,United States,True
44757,2023-07-09,United States,Canada,2,2,Gold Cup,Cincinnati,United States,False
44758,2023-07-12,United States,Panama,1,1,Gold Cup,San Diego,United States,False
44759,2023-07-12,Jamaica,Mexico,0,3,Gold Cup,Paradise,United States,True
44760,2023-07-16,Kernow,Sápmi,2,1,CONIFA World Football Cup qualification,Falmouth,England,False
44761,2023-07-16,Mexico,Panama,1,0,Gold Cup,Inglewood,United States,True